<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001385583616-c1kgrja30es9sutqpggfrltkspvndn9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001385583616-c1kgrja30es9sutqpggfrltkspvndn9p</string>
	<key>API_KEY</key>
	<string>AIzaSyBFQA0OlkQFjVca6UTbQl7Yl2W633UAuEI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001385583616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dropshop</string>
	<key>PROJECT_ID</key>
	<string>flutterapp-7dd66</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterapp-7dd66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001385583616:ios:7543a8a0b285147722e4e5</string>
	<key>DATABASE_URL</key>
	<string>https://flutterapp-7dd66-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>